<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="CfgMainDir" value="SQLFlexDescriptions" />
    <add key="Mode" value="LOCAL_DEV" />
    <!--<add key="Mode" value="DEV" />-->
    <!--<add key="Mode" value="TST" />-->
    <!--<add key="Mode" value="PROD" />-->
    
    <!--Local_dev-->
    <add key="ConnectionString@LOCAL_DEV" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.217.53.49)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=REPORTS_DEV)));User Id=atx_user;Password=atx_user1;" />
    <add key="CoreAddress@LOCAL_DEV" value="127.0.0.1:2255" />
    
    <!--Dev-->
    <add key="ConnectionString@DEV" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.217.53.49)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=REPORTS_DEV)));User Id=atx_user;Password=atx_user1;" />
    <add key="CoreAddress@DEV" value="10.216.43.15:2255" />
    
    <!--Test-->
    <add key="ConnectionString@TST" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.217.53.50)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=REPORTS_TST)));User Id=atx_user;Password=atx_user1;" />
    <add key="CoreAddress@TST" value="10.216.43.15:2233" />
    
    <!--Prod-->
    <add key="ConnectionString@PROD" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.217.50.88)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=REPORTS)));User Id=atx_user;Password=atx_user1;" />
    <add key="CoreAddress@PROD" value="10.216.43.15:2211" />
  </appSettings>
</configuration>